@()

@main("Lokals") {
  <nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Lokals</a>
			</div>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 left-pic">
				<div class="user-copy tourist">
					<h2><div class="big">CONOCE</div><div> LA CIUDAD COMO SI VIVIERAS EN ELLA</div></h2>
					<div id="tourist-group" class="input-group">
						<input id="tourist" type="text" class="form-control email" placeholder="Email">
						<span class="input-group-btn">
							<button id="touristBtn" class="btn btn-default" type="button">Me interesa</button>
						</span>
					</div>
				</div>
			</div>
			<div class="col-md-6 right-pic">
				<div class="user-copy local">
					<h2><div class="big">RECOMIENDA</div><div> LOS LUGARES QUE SÓLO TÚ CONOCES</div></h2>
					<div id="local-group" class="input-group">
						<input id="local" type="text" class="form-control email" placeholder="Email">
						<span class="input-group-btn">
							<button id="localBtn" class="btn btn-default" type="button">Me interesa</button>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid description">
		<div class="row">
			<div class="col-md-6 description-left">
				<p class="header">TURISTA</p>
				<p class="type">Antes o durante un viaje, regístrate y contacta a gente local que te ayudará a encontrar los lugares que estás buscando.</p>
			</div>
			<div class="col-md-6 description-right">
				<p class="header">LOCAL</p>
				<p class="type">Regístrate y recomienda todos los lugares que conoces, ayuda a los visitantes de tu ciudad. Tu experiencia es lo más importante.</p>
			</div>
		</div>

		<div class="general">
			<p>Cuando conoces una ciudad haces cosas que todos los demás hacen.</p>
			<p>Personas como tú buscan hacer cosas diferentes, únicas.</p>
			<p>Solo la gente local puede recomendarte lo que estás buscando.</p>
			<p>Encuentra experiencias reales en personas reales.</p>
		</div>
	</div>

	<div class="footer">
		<div class="container">
			Hecho con amor por viajeros • Copyright 2015
		</div>
	</div>

	<script>
		$("#touristBtn").click(function() {
			$.ajax({
				method: "POST",
				url: "",
				data: {"type": "tourist", "email": $("#tourist").val()},
				success: function() {
					$("#tourist-group").addClass("hidden");
				}
			});
		});

		$("#touristBtn").click(function() {
			$.ajax({
				method: "POST",
				url: "",
				data: {"type": "local", "email": $("#tourist").val()},
				success: function() {
					$("#local-group").addClass("hidden");
				}
			});
		});
	</script>
}
